
<main>
  <article class="banner-index">
  </article>
  <article class="article-relevant" id="relevante">
    <section class="relevant-title">
      <h1>Lo más reciente</h1>
    </section>
    <hr>
    <section class="cards">
      {{#if consultas.[1]}}
        {{#each consultas.[1]}}
          <div class="carta-azul">
            <h4>{{this.novedad}}</h4>
            <p>{{this.descripcion}}</p>
            <a href="noticia/{{idNovedad}}">Ver Más</a>
          </div>
        {{/each}}
        {{else}}
        <div class="carta-azul">
          <p>No hay ninguna novedad</p>
        </div>
      {{/if}}

    </section>
  </article>
  <article class="article-noticias">
    <section class="noticias-title">
      <h2>Noticias</h2>
    </section>
    <hr>
    <section class="cartas-noticias">

      {{#if consultas.[0]}}
        {{#each consultas.[0]}}
          <div class="carta-noticia" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.6)),url({{this.imagenUrl}}); background-position:center; background-size:cover; background-repeat:no-repeat;" >
            <p>{{this.descripcion}}</p>
            <a href="noticia/{{idNovedad}}">Ver Más</a>
          </div>
        {{/each}}
        {{else}}
        <div class="carta-noticia">
          <p>No hay ninguna noticia</p>
        </div>
      {{/if}}
    </section>
  </article>
    <article class="articleVideoCarreras">
        <section class="video">
            <video src="./media/videoOficial.mkv" controls width="100%"></video>
        </section>
        <section class="carreras">
            <div class="carreras-title">
                <h3>Carreras</h3>
            </div>
            <div class="container-cartas">
                <div class="carta-carrera">
                    <p>Programación</p>
                    <img src="./media/programacionicono.png" alt="">
                    <a href="/programacion">Ver Más</a>
                </div>
                <div class="carta-carrera">
                    <p>Informática</p>
                    <img src="./media/informaticaicono.png" alt="">
                    <a href="/informatica">Ver Más</a>
                </div>
                <div class="carta-carrera">
                    <p>Maestro Mayor de Obras</p>
                    <img src="./media/mmoicono.png" alt="">
                    <a href="/mmo">Ver Más</a>
                </div>
            </div>
        </section>
    </article>
</main>